@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

header {
  @apply px-[20px] bg-slate-900
    lg:px-[100px];
}

header nav {
  @apply flex items-center justify-between h-[70px];
}

header a {
  @apply inline-block w-full;
}

header .nav-brand a {
  @apply text-xl font-bold;
}

header .btn-menu {
  @apply w-[30px] h-[30px] bg-red-600 flex items-center justify-center rounded
    md:hidden;
}

header .menu-link {
  @apply hidden absolute justify-between items-center p-2 rounded left-1/2 -translate-x-1/2 top-[80px] bg-slate-900 text-center
    md:flex md:static md:p-0 md:w-full md:-translate-x-0 md:ml-[50px]
    lg:flex;
}

header .menu-link li {
  @apply hover:bg-red-600 rounded py-2
    md:inline-block md:mr-3 md:py-0 md:text-sm md:relative md:hover:bg-transparent md:hover:before:absolute md:hover:before:w-1/2 md:hover:before:h-[3px] md:hover:before:left-1/2 md:hover:before:bg-red-600 md:hover:before:-translate-x-1/2 md:hover:before:-bottom-1 md:hover:before:rounded md:hover:text-red-600
    lg:text-base;
}

header .input-group {
  @apply relative mt-2 
    md:mt-0;
}

header input {
  @apply h-[40px] w-[300px] rounded pl-[40px] pr-[5px] text-slate-500 text-sm
    md:w-[200px] md:text-xs md:h-[30px] md:pl-[30px]
    lg:text-sm lg:w-[300px] lg:h-[40px] lg:pl-[40px];
}

header .input-group button {
  @apply absolute flex items-center justify-center bg-red-600 hover:bg-red-500 w-[30px] h-[30px] rounded left-[5px] top-1/2 -translate-y-1/2
    md:h-[25px] md:w-[25px] md:left-[2px] md:text-xs
    lg:h-[30px] lg:w-[30px] lg:left-[5px];
}
